@CHARSET "UTF-8";

body {
	background-image: url(/Quantour/images/background.jpg);
	background-size: 100%;
}

.w1200 {
	width: 1060px;
	margin: 0 auto;
	padding-top: 80px;
}

.navigation {
	float: left;
	width: 220px;
	height: 600px;
}

.navigation .tab {
	width: 220px;
	border-right: 3px solid #528fcc;
}

.navigation .tab li {
	width: 220px;
	color: grey;
	font-size: 18px;
	list-style-type: none;
	margin: 20px 30px 20px 30px;
	cursor: pointer;
}

.navigation .tab li.less {
	color: white;
	font-size: 16px;
}

.navigation .tab li.active {
	font-weight: 500;
	color: red;
}

.operate-area {
	float: left;
	width: 840px;
	height: 600px;
}

.selfstock {
	display: none;
	width: 840px;
	height: 600px;
	padding: 30px 0px 0px 50px;
}

.header label {
	color: white;
	font-weight: 200;
}

.header select {
	width: 50px;
	height: 25px;
	border-radius: 2px;
	cursor: pointer;
}

.header a {
	color: white;
	margin: 0px 15px 0px 15px;
	cursor: pointer;
}

.header a:hover {
	color: #528fcc;
}

.header input {
	width: 150px;
	margin-left: 20px;
	border-color: #ccc;
	border: 1px solid transparent;
	border-radius: 3px;
}

.header button {
	background-color: #528fcc;
	border-color: #ccc;
	border: 1px solid transparent;
	border-radius: 3px;
	float: left;
	margin-left: 50px;
}

.list {
	position: absolute;
	float: left;
	width: 790px;
	height: 570px;
	padding-top: 20px;
	top: 160px;
}

.list table {
	font-size: 16px;
	border: 1px;
	width: 600px;
	text-align: center;
	background-color: #eee;
}

.input-form {
	display: none;
	width: 840px;
	height: 600px;
	padding: 30px 0px 0px 50px;
}

.operate-area .active{
	display: block;
}

.stock-drop-list{
	float: left;
	width: 150px;
}

.stock-drop-list ul {
	position: absolute;
	background-color: white;
	width: 150px;
	border:	1px solid black;
	margin-left: 20px;
	z-index: 1;
}

.stock-drop-list li {
	color: black;
	list-style-type: none;
	position: relative;
	left: -40px;
	width: 148px;
	padding: 5px 0px 5px 0px;
}

.stock-drop-list li:hover {
	background-color: #d3d3d3;
	cursor: pointer;
}

.input-form form{
	padding-left: 40px;
}

.input-form label {
	color: white;
	padding: 10px;
}

.input-form input {
	width: 180px;
	height: 30px;
	margin: 10px 0px 10px 10px;
	border-color: #ccc;
	border: 1px solid transparent;
	border-radius: 3px;
}

.btn {
	margin-top: 30px;
	background-color: #528fcc;
}

.m-page {
	height: 30px;
}

.m-page ul {
	margin-left: 80px;
}

.m-page li{
	float: left;
	list-style-type: none;
	padding: 3px 0px 3px 0px;
	margin: 0px 3px 0px 3px;
	color: white;
}

.m-page li:hover {
	background-color: #337ab7;
}

.m-page li.active {
	background-color: #337ab7;
}

.m-page li.disable {
	color: grey;
	pointer-events: none; 
}

.m-page a{
	color: white;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	width: auto;
	height: 30px;
}

.modal {
	width: 350px;
	margin: 0 auto;
}

.modal-header {
	width: 350px;
	text-align: center;
}

.modal-body {
	width: 350px;
	text-align: center;
}

.modal-footer {
	width: 350px;
	text-align: center;
}

.modal-footer .btn {
	margin: 0px 20px 0px 20px;
}

.modal label {
	font-weight: 200;
	color: red;
}

.modal input {
	border: 1px solid #000;
	border-radius: 3px;
}